doctype 5
html(ng-app="md4drive")
  head
    meta(charset="utf-8")
    title Markdown for Google Drive
  body
    div(ng-view)

    script(src="angular/angular.js")
    script(src="md4drive/md4drive.js")